*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
select {
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
.heading {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.19;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.title {
  font-size: 36px;
  line-height: 1.19;
}
.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.66666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.66666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333%;
}
.col-11 {
  width: 91.66666%;
}
.col-12 {
  width: 100%;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66666%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66666%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66666%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66666%;
}
.offset-12 {
  margin-left: 100%;
}
.page-header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 36px;
  color: white;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.in-white {
  color: white;
}
.hero-section {
  padding-top: 260px;
  padding-bottom: 180px;
  background-image: url(../images/Bg.jpg);
  background-size: cover;
  background-position: center;
}
.page-nav {
  text-align: center;
}
.page-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-nav-list-item {
  display: inline-block;
}
.page-nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 14px;
  padding-right: 5px;
}
.intro {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
.primary-button {
  width: 100px;
  height: 40px;
  left: 1175px;
  top: 36px;
  border: 1px solid #FFF;
  box-sizing: border-box;
  border-radius: 6px;
  color: #FFF;
}
.primary-button:hover {
  background-color: #FFF;
  color:#ED4C59;
}
.primary-button:focus {
  color: darkmagenta;
}
.primary-button:active {
  color: aqua;
  background: #AC83D3
}
.secondary-button {
  width: 160px;
  height: 60px;
  left: 640px;
  top: 545px;
  background: #FFF;
  color: #ED4C5C;
  border-radius: 6px;
  margin-top: 20px;
}
.secondary-button:hover {
  background-color: #eb90eb;
  color:#fff;
}
.secondary-button:focus {
  color: darkmagenta;
}
.secondary-button:active {
  color: aqua;
  background: #d3c483;
} 
.contact-section {
  padding-top: 120px;
  padding-bottom: 80px;
}
.main-select,
.main-input {
  display: block;
  width: 100%;
  height: 60px;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
}
.main-input:hover {
  background-color: #e7b0c0;
  color:#fff;
}
.main-select:focus {
  color:#ED4C5C;
}
.main-button {
  display: inline-block;
  background-color: #ED4C5C;
  color: #FFF;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.2;
  padding: 22px 42px;
  cursor: pointer;
  text-transform: uppercase;
}
.main-button:focus {
  color:#ad8310e7
}
.main-button:hover {
  background-color: #d087e2;
  color:#FFF;
}
.main-button:active {
  color: aqua;
  background: blueviolet;
} 
.main-select,
.main-input {
  display: block;
  width: 100%;
  height: 60px;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
  appearance: none;
}
.main-input:focus {
  color: darkmagenta;
}
.p-contact {
  text-align: justify;
}
.technology-section {
  padding-top: 64px;
  padding-bottom: 82px;
}
.mb-56 {
  margin-bottom: 56px;
}
.title-technology-section {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
  color: #000;
  padding-bottom: 58px;
}
.technology-item {
  padding-bottom: 48px;
  text-align: center;
}
.technology-item-number{
  display: block;
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  color: rgba(16, 16, 16, 0.08);
}
.icon-download_cloud,
.icon-secure,
.icon-pdf,
.icon-csv {
  position: absolute;
  font-size: 85px;
  color: #ED4C5C;
  margin-top: -50px;
  margin-left: -42px;
}
.technology-item-title {
  margin-top: 44px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #101010;
}
.technology-item-descr {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  margin-right: 34px;
  padding-left: 32px;
}
.management-software {
  padding-top: 140px;
  padding-bottom: 96px;
}
.title-managment {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
  color: #000;
  margin-bottom: 56px;
}
.desc-managment {
  font-size: 16px;
  line-height: 140%;
  color: #000;
  text-align: justify;
}
.video-managment {
  padding: 94px 162px 96 736;
  border-radius: 15px;
}
.video-section-managment {
  position: relative;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66px;
  height: 66px;
  background: #ED4C5C;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.icon-Play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}
.features-section {
  padding-top: 62px;
  padding-bottom: 124px;
  background: #FAFAFA;
  text-align: center;
}
.title-features-section {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  color: #000;
  padding-bottom: 84px;
}
.features-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #101010;
  padding-top: 2px;
  padding-bottom: 26px;
}
.features-descr {
  font-size: 14px;
  line-height: 150%;
  color: #101010;
  margin-top: 0;
  margin-bottom: 0;
}
.features-link {
  padding-top: 12px;
}
.card-section-features { 
  position: relative;
  z-index: 2;
  width: 293px;
  background: #FFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: -86px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px 28px 25px;
}
.map-section {
  padding-top: 62px;
  padding-bottom: 62px;
  background: #ED4C5C;
}
.title-section-map {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
  padding-top: 94px;
  padding-bottom: 14px;
  color: #FFF;
}
.logo-section-map-list {
  padding-top: 18px;
  display: inline-block;
}
.iframe-map {
  border-radius: 16px;
}
.descr-section-map {
  font-size: 16px;
  line-height: 140%;
  color: #FFF;
  text-align: justify;
}
.logo-section-map-list {
  display: inline-block;
}
.icon-playstore,
.icon-appstore,
.icon-windows {
  font-size: 28px;
  color: #FFF;
  padding-left: 8px;
  padding-right: 8px;
}
.title-section-contact {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.19;
  color: #000;
  padding-top: 5px;
  padding-bottom: 28px;
}
.p-contact {
  margin-top: 0;
  margin-bottom: 0;
}
.icon-icon_select {
  position: relative;
  left: 314px;
  top: -82px;
  font-size: 14px;
  color: rgba(19, 39, 67, 0.5);
}
.footer-section {
  left: 0;
  right: 0;
  padding-top: 36px;
}
.title-footer-section {
  padding-top: 28px;
  font-size: 18px;
  line-height: 1.2;
  color: #101010;
}
.descr-footer-section {
  margin-top: 24px;
  font-size: 14px;
  line-height: 150%;
  color: #101010;
}
.descr-footer{
  margin-top: 132px;
  margin-bottom: 80px;
}
.nav-list-section-footer {
  padding-top: 20px;
  font-size: 14px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000;
}
.nav-link-mail {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  color: #101010;
  text-decoration: none;
  margin-bottom: 8px;
}
.nav-link-tel {
  font-size: 14px;
  line-height: 1.2;
  color: #121212;
  text-decoration: none;
}
.nav-section-footer {
  list-style-type: none;
}
.nav-info-footer-section {
  padding-top: 14px;
}
.nav-link {
  text-decoration: none;
  color: #000;
}
.nav-section-footer-logo {
  display: inline-block;
}
.nav-logo-img-section-footer {
  padding-top: 20px;
}
.img-footer {
  padding-top: 20px;
}
.nav-link-logo {
  padding-right: 8px;
}
.icon-linkedin {
  font-size: 26px;
  padding-right: 8px;
}
.icon-facebook {
  font-size: 28px;
  padding-right: 8px;
}
.icon-twitter {
  font-size: 26px;
  padding-right: 8px;
}